= render "top/header"
- breadcrumb :user_favorite
= render "items/nav"
.item__body
  .item__body__title
    お気に入り商品一覧
  .item__body__lists
    - @favorites.each do |favorite|
      -if favorite.item.auction_status == '売り切れ'
        .user__body__lists__list
          = link_to item_path(favorite.item.id) do
            %figure.list__img
              = image_tag favorite.item.images.first.image.url
            .list__body
              %h3.name
                = favorite.item.name
              .list__price
                %ul
                  %li
                    = favorite.item.exhibition_price.to_s(:delimited)
                    円
                  %li
                    = icon('fa', 'star')
                    = favorite.item.favorites.count
                %p (税込)
            .list__sold
              .list__sold__inner
                sold
      - else
        .user__body__lists__list
          = link_to item_path(favorite.item.id) do
            %figure.list__img
              = image_tag favorite.item.images.first.image.url
            .list__body
              %h3.name
                = favorite.item.name
              .list__price
                %ul
                  %li
                    = favorite.item.exhibition_price.to_s(:delimited)
                    円
                  %li
                    = icon('fa', 'star')
                    = favorite.item.favorites.count
                %p (税込)
= render "top/lower-photo"
= render "top/footer"
= render "top/btn"