.breadcrumb
  %ul 
    %li
      = link_to "FURIMA", root_path
    %li
      = icon('fa', 'angle-right')
    %li
      = link_to "ベビー・キッズ", "#" 
    %li
      = icon('fa', 'angle-right')
    %li
      = link_to "ベビー服(男女兼用)~95cm", "#" 
    %li
      = icon('fa', 'angle-right')
    %li
      = link_to "アウター", "#" 
    %li
      = icon('fa', 'angle-right')
    %li
      = link_to "product3", "#" 