.new__form
  = form_for @item do |f|
    .name
      = f.label :name
    .field__input
      = f.text_field :name
    .name
      = f.label :exhibition_price
    .field__input
      = f.number_field :exhibition_price
    = f.fields_for :images do |i|
      .name
        = f.label :image
      .field__input
        = i.file_field :image
    .actions
      = f.submit "商品登録", class: "submit-btn"
.top__kari
  = link_to items_path do
    商品一覧へ
