= render "top/header"
.user
  = render 'users/user_side'
  .done
    .done__title
      商品を出品しましたしました
    .done__backlink
      = link_to 'トップページへ戻る', root_path, class: 'link'
= render "top/lower-photo"
= render "top/footer"
= render "top/btn"