= render 'top/header'
-if @item.auction_status == "売り切れ"
  .main-pay
    .main-pay__main
      %section.buy__item__content
        %h2.buy__item__title 　こちらの商品は売り切れです
      %section.buy__item__content
        .buy__item__content__inner
          %h3.buy__item__image 
            = image_tag @item.images.first.image_url
          .buy__item__detail
            .buy__item__name
              = @item.name
            .buy-price 
              .price
                = @item.exhibition_price.to_s(:delimited)
                円
              .delivery_fee (税込) 送料込み
      %section.buy__item__content
        .buy__item__user__info
          .buy__content__table
            .buy__price__cell
              .buy__price__label
                価格
              .buy__price
                = @item.exhibition_price.to_s(:delimited)
                円
  = render "top/lower-photo"
  = render "top/footer"
  = render "top/btn"
- else
  .main-pay
    .main-pay__main
      %section.buy__item__content
        %h2.buy__item__title 購入内容確認
      %section.buy__item__content
        .buy__item__content__inner
          %h3.buy__item__image 
            = image_tag @item.images.first.image_url
          .buy__item__detail
            .buy__item__name
              = @item.name
            .buy-price 
              .price
                = @item.exhibition_price.to_s(:delimited)
                円
              .delivery_fee (税込) 送料込み
              
      %section.buy__item__content
        .buy__item__user__info
          .buy__content__table
            .buy__price__cell
              .buy__price__label
                支払い金額
              .buy__price
                = @item.exhibition_price.to_s(:delimited)
                円
                  
            %section.buy__content__buy__user__info
              .buy__content__inner
                %h3.buy__user__info__title
                  お支払い方法
                  - if @card_info.blank?
                    .buy__user__info__form
                      .icon__plus 
                        = icon("far", "plus-square")
                      .buy__register__text
                        =link_to "クレジットカードを登録する", new_card_path, data: {"turbolinks" => false}, class:"buy__register__text"
                    .buy__user__info__form--buynow
                      = form_tag(action: :pay, method: :post) do
                        %script.payjp-button{src: "https://checkout.pay.jp", type: "text/javascript" ,"data-text": "クレジット情報を登録しないで購入する" ,"data-key": "pk_test_2cf741aa229ef28c8cb488a9","data-lang": "ja"}
                      .buy__user__info__form--buynow--text
                        ※商品の購入はクレジットカード決済のみとなっております。「クレジットカードを登録する」を選ぶと２回目以降の購入がスムーズとなります。１回限りの購入のお客様は「クレジット情報を登録しないで購入する」をクリックし、必要な支払い情報を入力して「カードで支払う」をクリックして下さい。
                  -else
                    .buy__user__info
                      = "**** **** **** " + @card_info.last4
                    .buy__user__info
                      = @card_info.exp_month.to_s + "月 / " + @card_info.exp_year.to_s.slice(2,3) + "年"
                    .buy__user__info
                      = image_tag "credit_logo/#{@card_src}", alt: @card_info.brand
            %section.buy__content__buy__user__info
              .buy__content__inner
                .buy__user__info__title
                  配送先
                  .buy__user__info
                    〒
                    = current_user.address.post_code
                  .buy__user__info
                    = current_user.address.preficture
                    = current_user.address.city
                    = current_user.address.address
                    = current_user.address.building_name
                  .buy__user__info
                    = current_user.last_name
                    = current_user.first_name
              %section.buy__content__buy__user__info
                .buy__btn
                  = link_to '購入する', pay_card_path(@item.id), method: :post, class: 'link'
    .main-pay__fotter
      .main-pay__fotter_nav
        %ul.clearfix
          %li 
            =link_to "プライバシーポリシー","#",class:"fotter-link"
          %li 
            =link_to "利用規約","#",class:"fotter-link"
          %li
            =link_to "特定取引に関する表記","#",class:"fotter-link"
